

body{
    margin:5%;
}
ul{
    list-style-type: disc;
    
}

.input-group{
   width:80%;
   margin-top:0.5em;
}

input{
    display: inline-block;
    margin-right:1em;
    height:2em;
    width:60%;
}


h2{
    font-size: 1.2em;
    color:rgb(21, 82, 151);
    font-family: 'Times New Roman', Times, serif;
}
button{
    display: inline-block;
    background-color: rgb(194, 221, 243);
    box-shadow: 5px 5px 4px #d6d4d4;
    height:2.5em;
    border-color: aliceblue;
    margin: 5px;
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15%;
    
}

.to-do-buttons{
    display:inline-block;
}